@keyframes work-next-ani {
    0%{
        transform: translate(100%, -50%);
    }

    50%{
        transform: translate(60%, -50%);
    }

    100%{
        transform: translate(100%, -50%);
    }
}

@keyframes work-next-1200-ani {
    0%{
        transform: translate(100%, -100%);
    }

    50%{
        transform: translate(150%, -100%);
    }

    100%{
        transform: translate(100%, -100%);
    }
}