.shape-bottom{
    position: absolute;
    top: auto;
    bottom: -10px;
    left: 0;
    right: 0;
}

.shape-bottom svg{
    overflow: hidden;
    vertical-align: middle;
}

.header-content-welcome .shape-bottom{
    z-index: -1;
}