@keyframes phone-ani {
    0% {
        transform: translate3d(190px, 0, 0);
        opacity: 0; /* at this point in time the element is fully on the right but still hidden */
    }
    55.1% {
        opacity: 1; /* now we make it visible again so that it can come back into view */
    }
    100% {
        opacity: 1; 
        transform: translate3d(0%, 0, 0);
    }
}